<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991613302891-7rttj9j3g33dhsbhne7tqm6q7m5gac7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991613302891-7rttj9j3g33dhsbhne7tqm6q7m5gac7p</string>
	<key>API_KEY</key>
	<string>AIzaSyAjTRKV8PnGe41LAdCvWMkj0P0bunn4MRw</string>
	<key>GCM_SENDER_ID</key>
	<string>991613302891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virgilApp</string>
	<key>PROJECT_ID</key>
	<string>virgilapp-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>virgilapp-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991613302891:ios:66a37e1a63982c06e1192e</string>
</dict>
</plist>